@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1f0318;
  --secondary-color: #8c705f;
  --third-color: #7f534b;
  --white: #e5f2c9;
  --black: #212427;
  --purple: blueviolet;
}
